<a href="https://colab.research.google.com/github/Hugekyung/TIL/blob/master/Class%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class FourCal:
    def __init__(self, first, second):
        # __init__은 초기값을 생성해준다, 
        # 즉 아래의 setdata를 실행해 객체를 만들어줘야하는 
        # 번거로운 과정 대신 바로 객체를 생성하는 것.
        self.first = first
        self.second = second

    def setdata(self, first, second):
        self.first = first
        self.second = second

    def add(self):
        result = self.first + self.second
        return result

    def mul(self):
        result = self.first * self.second
        return result

    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result

In [ ]:
class MoreFourCal(FourCal): # FourCal 클래스를 상속받는다
    def pow(self):
        result = self.first ** self.second
        return result

In [ ]:
a = MoreFourCal(5,3)
a.mul()
a.pow()

125

In [ ]:
a = FourCal(6, 3) # 초기값으로 first=6, second=3이 설정된다

In [ ]:
a.add()

9

In [ ]:
a.setdata(2, 3)

In [ ]:
a.first
a.second

3

In [ ]:
a.add()

5

In [ ]:
a.setdata(10, 5)

In [ ]:
a.div() + a.sub()

7.0

In [ ]:
a.div()

2.0

In [1]:
class Bag:
    def __init__(self):
        self.data = []
    
    def add(self, x):
        self.data.append(x)

    def addtwice(self, x):
        self.add(x)
        self.add(x)

In [9]:
a = Bag()

In [16]:
a.add(1)
a.addtwice(2)
a.data

[1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2]

In [18]:
for element in [1, 2, 3]:
    print(element)
for element in (1, 2, 3):
    print(element)
for key in {'one':1, 'two':2}:
    print(key)
for char in "123":
    print(char)

1
2
3
1
2
3
one
two
1
2
3

In [21]:
print(sum(i*i for i in range(10)))

285

In [23]:
print(sum([i*i for i in range(10)]))

285

## *args(arguments)  
사용법 : 변수의 개수를 사용자가 지정

In [29]:
# *args 사용법 : 변수의 개수를 사용자가 지정
def user_name(*input_name):
    for name in input_name:
        print(name)

input_name1 = '양태경'
input_name2 = '양해찬'
input_name3 = '양우창'

user_name(input_name1, input_name2, input_name3)

양태경
양해찬
양우창

*args는 다른 변수 뒤에 위치해야 한다(앞에 있으면 오류)

In [33]:
def user_name(name, *input_name):
    print(name)
    for name in input_name:
        print(name)

name = '내 이름은 무엇일까?'
user_name(name, input_name1, input_name2, input_name3)

내 이름은 무엇일까?
양태경
양해찬
양우창

## **kwargs(keyword argument)  
- (키워드 = 특정 값)의 형태로 함수를 호출  
- {'키워드':'특정 값'}의 딕셔너리 형태로 함수 내부에 전달된다  
- \*args와 함께 쓰일 때는 \*args뒤에 위치한다(\*args, **kawgs)

In [39]:
def whatyourname(**names):
    for key, value in names.items():
        print(key, 'is', value)

whatyourname(myname = 'tkyang', yourname = 'hcyang', age = 29)

myname is tkyang
yourname is hcyang
age is 29

## 사용법 요약  
함수의 파라미터 순서 : 일반변수 \*변수 **변수  
- *변수 : 여러 개의 데이터가 들어오면 함수 내부에서는 해당 변수를 '튜플'의 형태로 처리  
- **변수 : 딕셔너리의 형태로 키워드='a'로 입력하면 각각 키와 값으로 가져오는 '딕셔너리'로 처리한다