In [1]:
import pandas as pd
import numpy as np
import re
import emoji

# 20대

In [4]:
df_20 = pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\20대-20200906T062757Z-001\20대\20dae.csv')
df_gae = pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\20대-20200906T062757Z-001\20대\개강.csv')
df_u = pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\20대-20200906T062757Z-001\20대\대학생.csv')
df_stagram = pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\20대-20200906T062757Z-001\20대\대학생공스타그램.csv')
df_hak= pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\20대-20200906T062757Z-001\20대\학사모.csv')

In [5]:
df_20.rename(columns = {"13325420421": "inner_id"}, inplace = True)
df_gae.rename(columns = {"2070932064": "inner_id"}, inplace = True)
df_u.rename(columns = {"39930893113": "inner_id"}, inplace = True)
df_stagram.rename(columns = {"8464766470": "inner_id"}, inplace = True)
df_hak.rename(columns = {"3864251862": "inner_id"}, inplace = True)

In [6]:
df_20 = df_20.append([df_gae, df_u, df_stagram, df_hak])

In [7]:
df_20_ls = list(map(str, np.unique(df_20)))
len(df_20_ls)

5244

In [8]:
df_20_sam = df_20.sample(4500)

In [9]:
df_20_sam

         inner_id
239   13922524405
131    3186899928
163   32048590864
131    2226549778
521   40695105247
...           ...
752    8571769459
125   29200930739
165    6854643731
1046   5525798403
693    3274198367

[4500 rows x 1 columns]

In [43]:
# df_20_sam.to_csv('20dae_4500id.csv')

# 30대

In [10]:
df_30 = pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\30대-20200906T121255Z-001\30대\30대.csv')
df_egg = pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\30대-20200906T121255Z-001\30대\계란한판.csv')
df_tirty = pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\30대-20200906T121255Z-001\30대\서른.csv')
df_2010 = pd.read_csv(r'C:\Users\haech\Desktop\2020국어경진대회\30대-20200906T121255Z-001\30대\스물열살.csv')

In [11]:
df_30.rename(columns = {"3979687336": "inner_id"}, inplace = True)
df_egg.rename(columns = {"2293285577": "inner_id"}, inplace = True)
df_tirty.rename(columns = {"590247026": "inner_id"}, inplace = True)
df_2010.rename(columns = {"859198646": "inner_id"}, inplace = True)

In [12]:
df_30 = df_30.append([df_egg, df_tirty, df_2010])

In [13]:
df_30_ls = list(map(str, np.unique(df_30)))
len(df_30_ls)

8114

In [14]:
df_30_sam = df_30.sample(4500)

In [15]:
df_30_sam

         inner_id
6220    630205849
5326   3280514984
295   30744972438
434   34730950892
354    1118607487
...           ...
4878    429160639
960    2256264830
4580  21678277840
2510   1379847864
1144   2269855260

[4500 rows x 1 columns]

In [50]:
# df_30_sam.to_csv('30dae_4500id.csv')

# 20,30 data handle
- content에서 한글만 남기기
- 한글 텍스트 띄어쓰기 교정하기(spacing모델 활용)
- 이모지는 따로 뺴서 컬럼 만들기

In [16]:
df_20dae = pd.read_csv(r'C:\Users\haech\my_workspace\prac_scrapy\20dae_4500id_post.csv')
df_30dae = pd.read_csv(r'C:\Users\haech\my_workspace\prac_scrapy\30dae_4500id_post.csv')

In [19]:
df_20dae.sample(6)

,insta_id,inner_id,url,content,hashtag,region_tag
19802,9em1nlstella,1835704104,https://www.instagram.com/p/CD3H_kRnIrb/,언니가 그려준 그림.....,#일상 #소통 #선팔 #맞팔 #언팔싫어요 #좋아요 #좋아요꾹 #청주 #선팔하면맞팔 ...,NaN
16095,seong.__.hwan,1627582945,https://www.instagram.com/p/B8v81VWn0nw/,....,#왕십리 #우에노421 #카페 #카페사진찍기 #맛들림😎 #수플레맛집 #드라이브🚗,우에노
24081,yuhasuha,2126807154,https://www.instagram.com/p/CDpzVriFJ57/,#둘이좋아하는원피스😎,#제주도,NaN
54888,sunshine__eng,8652840189,https://www.instagram.com/p/CD_U_exjli4/,긴 연휴중에 그래도 추억만들고싶은 마음에 달려간 강화도가는데만 2시간45분...ㅋㅋ...,#강화도루지 타기,씨사이드리조트 루지 탑승장
68566,pharm_study20,26092006770,https://www.instagram.com/p/CDy8c49BKLb/,수강신청은 정말 힘든 일입니다...기가 쭉쭉 빨리고 시간도 뺏기고 하루종일 조마조마...,#대학생#대1#01년생#스무살#20학번#공스타그램#공스타#대학생공스타#대학생공스타그...,NaN
32404,luvvvv__sh,3286269960,https://www.instagram.com/p/CD-OLLhl3FF/,👒갇힘안개가 많아 섬에서 못나가는중씻ᄌ...,#세연정,보길도

In [20]:
df_20dae.drop('region_tag', axis=1, inplace=True)
df_30dae.drop('region_tag', axis=1, inplace=True)

In [21]:
# 한글이 아닌 텍스트 제거하기

def del_foreign(df):
    id_lst = list(set(df['insta_id']))
    for user_id in id_lst:
        count = 0
        for y in list(df[df['insta_id']==user_id]['content']):
            if type(y) != str:
                pass
            elif re.search('[가-힣]', y):
                count += 1
        if count == 0:
            idx = df[df['insta_id']==user_id].index
            df.drop(idx, inplace=True)
    return df

In [22]:
df_20dae = del_foreign(df_20dae)
df_30dae = del_foreign(df_30dae)

In [23]:
text = list(df_20dae['content'])
hashtag = list(df_20dae['hashtag'])

# 이모지 추출하기(content와 hashtag모두에서 빼낸 것)

In [24]:
def extract_emojis(str):
     return [c for c in str if c in emoji.UNICODE_EMOJI]

In [25]:
emojis_ls = []

for i, v in enumerate(text):
    try:
        emojis = extract_emojis(v)
        for e in emojis:
            emojis_ls.append(e)
    except:
        pass
    
    
for i, v in enumerate(hashtag):
    try:
        emojis = extract_emojis(v)
        for e in emojis:
            emojis_ls.append(e)
    except:
        pass

In [26]:
len(emojis_ls)

129781

# 본문 text추출하기(text에서 이모지 제거)

In [27]:
# 텍스트에서 이모지 제거하기
# -*- coding: utf-8 -*-

def extract_text(text):
    hangul = re.compile('[^ ㄱ-ㅣ가-힣\s]') # 한글과 띄어쓰기를 제외한 모든 글자
    result = hangul.sub(r'', text) # 한글과 띄어쓰기를 제외한 모든 부분을 제거
    return result

In [28]:
content_ls = []
for i, v in enumerate(text):
    try:
        content_ls.append(extract_text(v))
    except:
        pass

In [29]:
content_ls = [v for v in content_ls if v]

In [31]:
content_ls[:10]

['다시 어지르는거보니   ',
 '오늘 티맵이 나에게 한 몹쓸짓너무 한 년만에 가는 데라 입구가 헷갈려서 티맵키고 가는데 날 쭈꾸미집 가는 큰길로 가라하길래 굴다리로 가게 하려나바 했더니 유턴해서 원위치시키질 않나 미쳐가지고 다시 수지방향으로 가라고 나오고 ',
 '갑자기 또 이런 불쌍한 관종력 가득한 포즈 그래도 스릉흔드   ',
 '오늘 빌리 아직  은 못봤는데 상태는 정도 돌아온듯 내일은 가즈아       ',
 '어제 빌리 진심 저녁때까지 첫번째사진처럼 쳐져있다가 페이버릿 여사친 만나고 넘나 업되서 원기회복 완성 와중 갑툭튀 뜬금포 퓌퓌의 급고백 빌리야 사랑해                     ',
 '                 ',
 '드뎌 월 하늘 시작인가 태풍 또 온다메나오는데 어딘가로 숨어버린 빌리 걱정하면서 사진찍냐 나님은 ',
 '     ㄸㄲ             ㄸㄲ  개꼼 먹는다길래 이닦고 줬더니 그게 또 안좋나봄 ㅠ                   ',
 '저녁 잘먹고 잠깐 분 놀더니 지쳐서 뻗으심 도련님위해 최고급황태 갈아 계란과 푹 끓였 엄마 밥도 못해먹고있능데 엄마 맴 알아줠       ',
 '오늘 빌리 학생들오면 원래 엄청 미쳐날뛰는데 아는척 도 안하고 만지지말라고 이빨까지 보임 똥꼬 계속 열려서  지가 빨아없애고 있고 ㅠㅠ 시간전부터 약빨 드뎌 받는지 똥꼬 말라감 아효 빌리 에 울고 웃고 또 세탁기는 돌아가고                   ']

# 해시태그 리스트

In [32]:
# 해시태그에서 이모지 제거하기
# -*- coding: utf-8 -*-

def extract_text(text):
    hangul = re.compile('[^ ㄱ-ㅣ가-힣!\.?#]') # 한글과 띄어쓰기를 제외한 모든 글자
    result = hangul.sub(r'', text) # 한글과 띄어쓰기를 제외한 모든 부분을 제거
    return result

In [33]:
hashtag_ls = []
for i, v in enumerate(hashtag):
    try:
        tag = extract_text(v)
        tag = re.sub('# ', '', tag) # 내용없이 #만 있는 것 제거
        tag = re.sub(' ', '', tag)
        hashtag_ls.append(tag)
    except:
        pass

In [41]:
hashtag_ls[-5:]

['#흰여울문화마을#부산#선팔맞팔#데일리#일상',
 '#머스탱#선팔맞팔#좋반#데일리#일상',
 '#제주도#여름휴가#선팔맞팔#데일리#일상#노는게젤조아',
 '#첫번째일기',
 '#책추천북한아이들과문화에대해다시생각해볼수있는책이에요!글도쉽게읽혀서흥미롭게읽을수있었답니다']