<a href="https://colab.research.google.com/github/Hugekyung/TIL/blob/master/python_basic/%EC%BB%B4%ED%94%84%EB%A6%AC%ED%97%A8%EC%85%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 이 파일의 모든 문제는 컴프리헨션을 이용해 풀어야 합니다.

문제1. 3~32까지 30개의 원소를 갖는 리스트를 만들어보세요.

In [ ]:
x = [i for i in range(3,33)]
print(x)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]

문제2. 100이하의 짝수를 원소로 갖는 리스트를 만들어보세요.

In [ ]:
#2-1. for문만을 내포해서 풀어보세요.
x = [i for i in range(0,101,2)]
print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
#for + if 혼용해서 해결해보세요.
x = [i for i in range(101) if i % 2 == 0]
print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

문제3. 길이가 10인 리스트에서 홀수번째는 'odd' 짝수번째는 'even'이라는 원소를 담도록 만들어보세요.

결과 :  
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
# x = ['odd' for i in range(10) if i % 2 == 1 else 'even'] --> 이렇게는 안돼

x = ['odd' if i % 2 == 1 else 'even' for i in range(10)]
x 
## if 조건이 붙을 경우 앞으로, for문을 뒤로

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

문제4. type이 str(문자)인 인덱스를 원소로 갖는 길이가 10인 리스트를 컴프리헨션을 이용해 만들어보세요.  
  
결과 :  
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
x = [str(i) for i in range(10)]
print(x)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

문제5. 인덱스를 기준으로 다음과 같이 인덱스에 맞는 문자열을 원소로 갖는 길이가 10인 리스트를 만들어 보세요.   
idx = 0 -> zero   
idx = 홀수 -> odd  
idx = 짝수 -> even  
  
결과 :   
['zero', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
x = ['zero' if i == 0 else 'odd' if i % 2 == 1 else 'even' for i in range(10)]
print(x)

['zero', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']