<a href="https://colab.research.google.com/github/Hugekyung/TIL/blob/master/python_basic/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%B2%A0%EC%A0%80%EC%9E%85%EB%AC%B83.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파일에서 문자열 한 줄씩 쓰기&읽기

In [3]:
f = open('two_times_table.txt','w') # 파일을 쓰기모드로 열기
for num in range(1,6):
    format_string = "2 x {0} = {1}\n".format(num,num*2)
    f.write(format_string) # 파일에 문자열 저장
f.close() # 파일 닫기

In [4]:
!type two_times_table.txt

/bin/bash: line 0: type: two_times_table.txt: not found

In [9]:
f = open('two_times_table.txt')
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, end='')
print(line2)

2 x 1 = 2
2 x 2 = 4

In [10]:
f = open('two_times_table.txt')
lines = f.readlines() # 파일 전체의 모든 줄을 읽어서 한 줄 씩을 요소로 갖는 리스트 타입으로 반환
f.close()
print(lines)

['2 x 1 = 2\n', '2 x 2 = 4\n', '2 x 3 = 6\n', '2 x 4 = 8\n', '2 x 5 = 10\n']

# with문으로 파일 읽고 쓰기
- 앞에서는 1. 파일 열기 2. 파일 읽고/쓰기 3. 파일 닫기 순이었다면  
- with문은 수행이 끝난 후 자동으로 파일 닫으므로 close()를 수행하지 않아도 된다

In [14]:
with open('mytextfile3.txt', 'w') as f :
    for num in range(1,6) :
        format_string = "3 x {0} = {1}\n".format(num, 3*num) # 문자열 생성
        f.write(format_string)

In [15]:
with open('mytextfile3.txt', 'r') as f : 
    for line in f :
        print(line, end='')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

# 함수

## 인자도 반환 값도 없는 함수

In [16]:
def my_func() :
    print("my first function!")
    print("this is a function")

In [17]:
my_func()

my first function!
this is a function

## 인자는 있으나 반환 값이 없는 함수

In [18]:
def my_friend(name) :
    print("{}는 나의 친구입니다.".format(name))

In [20]:
my_friend('철수')
my_friend('영미')

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [21]:
def my_student_info(name, school_ID, phonenumber) :
    print("------------------------")
    print("- 학생이름:", name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phonenumber)

In [23]:
my_student_info('철수', '01', '010-0000-0001')
my_student_info('영미', '02', '010-0000-0002')

------------------------
- 학생이름: 철수
- 학급번호: 01
- 전화번호: 010-0000-0001
------------------------
- 학생이름: 영미
- 학급번호: 02
- 전화번호: 010-0000-0002

## 인자도 있고 반환 값도 있는 함수

In [24]:
def my_calc(x,y) :
    z = x*y
    return z

In [25]:
my_calc(2,4)

8

In [26]:
def my_student_info(student_ls) :
    print("------------------------")
    print("- 학생이름:", student_ls[0])
    print("- 학급번호:", student_ls[1])
    print("- 전화번호:", student_ls[2])

In [29]:
student_ls = ['철수', '01', '010-9999-0000']
my_student_info(student_ls) # 함수에 리스트를 인자로 넣기

------------------------
- 학생이름: 철수
- 학급번호: 01
- 전화번호: 010-9999-0000

## 변수의 요휴 범위

In [33]:
a = 5 # 전역변수
    
def func1():
    a = 1 # 지역변수, func1에서만 사용
    print('func1 지역변수 a = ', a)

def func2():
    a = 2 # 지역변수, func2에서만 사용
    print('func1 지역변수 a = ', a)

def func3():
    print('func1 전역변수 a = ', a) # 전역변수 사용

def func4():
    global a # 함수 내에서 전역변수를 변경하기 위해 선언
    a = 4 # 전역변수 값 변경
    print('func1 지역변수 a = ', a)

In [34]:
func1()
func2()
func3()
func4()

func1 지역변수 a =  1
func1 지역변수 a =  2
func1 전역변수 a =  5
func1 지역변수 a =  4