<a href="https://colab.research.google.com/github/Hugekyung/TIL/blob/master/Python_basic/%ED%95%A8%EC%88%98%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

#### 1번 
아래의 코드를 재사용하기 위해 다음과 같은 함수로 만들어보세요.   
검색어를 입력인자로 받아 원하는 검색어에 대한 기사제목을 반환해주는 함수

In [3]:
import requests
from bs4 import BeautifulSoup

In [4]:
def search():
    x = input('검색어 입력:')
    url = 'https://search.naver.com/search.naver?where=news&query={}'.format(x)

    resp = requests.get(url)

    soup = BeautifulSoup(resp.content, 'lxml')
    a_tag = soup.select('ul.type01 li dl dt a')

    title = []
    for a in a_tag:
        title.append(a.text)

    return title

In [5]:
search()

검색어 입력:토트넘

['베일, 토트넘 훈련장 도착…左 흥민·右 베일 눈앞',
 "'손흥민 풀타임' 토트넘, 유로파 2차 예선서 2-1 역전승",
 '베일 토트넘 이적 시간문제, 런던행 위해 마드리드 공항 도착',
 '손흥민 2경기 연속 침묵…토트넘은 2대 1 진땀승',
 '손흥민 또 침묵… 토트넘은 역전승',
 '[유로파리그] 토트넘, 혼돈 속 2-1 승리… 3차 예선 진출',
 '헤딩하는 토트넘 손흥민',
 '졸전 토트넘, 9명 뛴 플로브디프에 2-1 진땀승…풀타임 손흥민 침묵',
 '가레스 베일, 토트넘行 임박…메디컬 통과',
 '베일, 토트넘 훈련장 도착...곧 공식발표 예정']

#### 2번 
아래와 같은 함수를 만들어보세요.

In [6]:
#함수 만들기
#이름, 전화번호, 이메일을 입력받아서
#3가지 정보를 dictionary로 묶어서 리턴해주는 함수

def data():
    data_dic = {}
    name = input('이름을 입력해주세요:')
    data_dic.setdefault("이름", name)
    phone = input('전화번호를 입력해주세요:')
    data_dic.setdefault("전화번호", phone)
    email = input('이메일을 입력해주세요:')
    data_dic.setdefault("이메일", email)
    return data_dic
    
data()

이름을 입력해주세요:홍길동
전화번호를 입력해주세요:010-0000-0000
이메일을 입력해주세요:gildong@gmail.com

{'이름': '홍길동', '이메일': 'gildong@gmail.com', '전화번호': '010-0000-0000'}

#### 3번

아래 두 함수를 이용해서, 원하는 만큼 숫자를 입력받은 num_list의 원소를 절대값 크기 순으로 정렬한 sorted_list 를 만들어보세요.

예시. 
num_list = [1, -2, 3, 4, 0]  

sorted_list = sort_data(num_list)  
sorted_list  
출력 결과 :  
  [4, 3, -2, 1, 0]

In [ ]:
# 입력받은 데이터를 절대값으로 변환해주는 함수
def to_abs(num):
    if num < 0:
        num *= -1
    return num

to_abs(-4)

4

In [ ]:
#  입력받은 데이터를 정렬해주는 함수
num_list = [1, -2, 3, 4, 0]

def sort_data(x_list):
  pass

In [ ]:
length = int(input('몇 개의 숫자를 입력하시겠습니까?'))

#### 4번
리스트와 인덱스를 찾고 싶은 값을 모두 입력하면 입력한 값의 인덱스(위치)를 리턴해주는 함수 만들기  
  
실행:  
num_list=[1,2,3,1,4,2,1]  
find_index(num_list,1)  
[0,3,6]

In [ ]:
num_list=[1,2,3,1,4,2,1]

def find_index(lis, x):
    y=[]
    for i, v in enumerate(lis):
        if v == x:
            y.append(i)
    return y

find_index(num_list, 1)

[0, 3, 6]