<a href="https://colab.research.google.com/github/Hugekyung/TIL/blob/master/Python_basic/%ED%99%94%EB%A9%B4%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#### 1번
사용자로점수를3개입력받아 모든점수가65점보다클경우True 점수가하나라도65점이안넘을경우False 를출력하세요

In [ ]:
x = int(input('점수를 입력해주세요:'))
y = int(input('점수를 입력해주세요:'))
z = int(input('점수를 입력해주세요:'))

if x > 65 and y > 65 and z > 65:
    print(True)
else:
    print(False)

점수를 입력해주세요:66
점수를 입력해주세요:65
점수를 입력해주세요:67
False

#### 2번
두사람의 이름, 나이, 연락처를 입력받아 각각 딕셔너리를 만들어 리스트에 넣어주세요 

실행 :  
이름을 입력해주세요 : 홍길동  
나이를 입력해주세요 : 27  
연락처를 입력해주세요 : 010-3023-1223  
이름을 입력해주세요 : 이몽룡  
나이를 입력해주세요 : 30  
연락처를 입력해주세요 : 010-3030-4434  
결과 : 
[{'이름': '홍길동', '나이': '27', '연락처': '010-3023-1223'}, {'이름': '이몽룡', '나이': '30', '연락처': '010-3030-4434'}]

In [ ]:
name = input('이름을 입력해주세요:')
age = input('나이를 입력해주세요:')
phone = input('연락처를 입력해주세요:')
dic1 = {'이름':name, '나이':age, '연락처':phone}

name2 = input('이름을 입력해주세요:')
age2 = input('나이를 입력해주세요:')
phone2 = input('연락처를 입력해주세요:')
dic2 = {'이름':name2, '나이':age2, '연락처':phone2}

list_1 = []
list_1.append(dic1)
list_1.append(dic2)
list_1

이름을 입력해주세요:홍길동
나이를 입력해주세요:27
연락처를 입력해주세요:010-3023-1223
이름을 입력해주세요:이몽룡
나이를 입력해주세요:30
연락처를 입력해주세요:010-3030-4434

[{'나이': '27', '연락처': '010-3023-1223', '이름': '홍길동'},
 {'나이': '30', '연락처': '010-3030-4434', '이름': '이몽룡'}]

#### 3번
사용자로무터 점수를 3개 입력받으세요.  
모든점수가 65점보다 클 경우 -> 합격, 아닐경우 -> 불합격을 출력하세요  
단,0~100이 아닌 숫자가 입력된 경우 잘못된“잘못된점수가 입력되었습니다"를출력하세요

In [11]:
x1 = int(input('점수를 입력해주세요:'))
x2 = int(input('점수를 입력해주세요:'))
x3 = int(input('점수를 입력해주세요:'))

if 101 > x1 >= 0 and 101 > x2 >= 0 and 101 > x3 >= 0:
    if x1 > 65 and x2 > 65 and x3 > 65:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수가 입력되었습니다.')

점수를 입력해주세요:100
점수를 입력해주세요:50
점수를 입력해주세요:67
불합격

#### 4번
fruit=['사과','오렌지'] vegetable=['당근','호박']  
위와 같은 리스트 두개를 만들고 유저로부터 카테고리와 상품명을 입력받아 카테고리가 과일일 때는 fruit 리스트에  
카테고리가 채소일때는 vegetable리스트에  
상품을추가하고 리스트의 모든 내용을 출력해주세요.  
단, 카테고리명이 채소나 과일이 아닐 경우  
“존재하지않는카테고리입니다.“  
 이미등록되어있는경우“이미등록된과일입니다.”or“이미등록된채소입니다"를출력해주세요.

실행 :  
등록할 카테고리를 선택해주세요 (과일, 채소) :채소   
등록할 채소을 입력해주세요 :당근   
이미등록된 채소 입니다.  
등록할 카테고리를 선택해주세요 (과일, 채소) :야채   
등록할 야채를 입력해주세요 :당근   
존재하지 않는 카테고리입니다.  

등록할 카테고리를 선택해주세요 (과일, 채소 ) :과일  
 등록할 과일을 입력해주세요 :바나나   
 ['사과', '오렌지', '바나나']

In [ ]:
fruit=['사과', '오렌지']
vege=['당근', '호박']

x=input('등록할 카테고리를 선택해주세요(과일, 채소):')
if x == '채소':
    y=input('등록할 채소를 입력해주세요:')
    if y in vege:
        print('이미 등록된 채소입니다')
    else:
        vege.append(y)
        print(vege)
elif x == '과일':
    y2=input('등록할 과일을 입력해주세요:')
    if y2 in fruit:
        print('이미 등록된 과일입니다')
    else:
        fruit.append(y2)
        print(fruit)
else:
    print('존재하지 않는 카테고리입니다.')

등록할 카테고리를 선택해주세요(과일, 채소):과일
등록할 과일을 입력해주세요:바나나
['사과', '오렌지', '바나나']

#### 5번
숫자를 입력받고 입력받은 정수의 구구단을 출력하세요.  
정수가 아닌 다른 타입이 입력되면,  
'정수를 입력해주세요!' 출력   
2-9가 아닌 수를 입력하면,  
" 2-9 사이의 정수를 입력해주세요!" 출력
  
실행 :  
몇단을 출력하시겠습니까? 3   
3 * 1 = 3   
3 * 2 = 6   
...   
3 * 8 = 24  
3 * 9 = 27

In [ ]:
x = int(input('몇 단을 출력하시겠습니까?'))

if x<=2 or x>9:
    print('2-9 사이의 정수를 입력해주세요!')#-->이 부분 잘 모르겟으
elif type(x) != int:
    print('정수를 입력해주세요!')
else:
    print('{}단입니다.'.format(x))
    for i in range(1,10):
        print('{0} * {1} = {2}'.format(x,i,x*i))

몇 단을 출력하시겠습니까?9
9단입니다.
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#### 6번
사용자로부터 숫자를 계속 입력받다가  0을 입력하면 합계를 출력해주세요  
  
  실행 :  
값을 입력해주세요 : 30   
값을 입력해주세요 : 20   
값을 입력해주세요 : 50   
값을 입력해주세요 : 40   
값을 입력해주세요 : 30   
값을 입력해주세요 : 0   
합계는 ?  170

In [ ]:
user_num = []
while 1:
    user = int(input('값을 입력해주세요:'))
    user_num.append(user)

    if user == 0:
        print('합계는?{}'.format(sum(user_num)))
        break

값을 입력해주세요:30
값을 입력해주세요:20
값을 입력해주세요:50
값을 입력해주세요:40
값을 입력해주세요:30
값을 입력해주세요:0
합계는?170

#### 7번 
아래 코드는 맨시티의 네이버뉴스기사를 가져오는 코드입니다.  
아래 코드를 수정해서, 원하는 검색어를 입력받아 관련 기사제목을 가져와보세요.

In [8]:
import requests
from bs4 import BeautifulSoup

url = 'https://search.naver.com/search.naver?where=news&query=맨시티'

resp = requests.get(url)

soup = BeautifulSoup(resp.content, 'lxml')
a_tag = soup.select('ul.type01 li dl dt a')

len(a_tag)

10

In [9]:
news_list = []
for a in a_tag:
  print(a.text)

[오피셜] 귄도안 코로나19 확진 판정, 맨시티 또 악재
마침내 입 연 과르디올라 "맨시티에 더 머물고 싶어, 단, 올해 잘해야"
맨시티 핵심 MF 귄도간 코로나19 확진
개막 앞둔 맨시티 비상…권도간 '코로나19' 확진 판정
[스포터 PICK] '아다마 트라우마' 맨시티, 울버햄튼전 '설욕' 나선다!
맨시티, 세비야 센터백 쿤데 영입 추진 '오타멘디와 바꾸자'
넥센타이어, 英 프리미어리그 맨시티와 후원 재계약 체결
[공식발표] 맨시티의 새로운 주장은 페르난지뉴...펩, "선수들과 함께 결정"
'맨시티 어쩌나' 아구에로, 2달 추가 결장...'아스널-리버풀전' 포함
토레스 "메시 없어도 돼, 맨시티는 위대한 성과를 낼거야"